BasedOnStyle: LLVM
IndentWidth: 2

AlignAfterOpenBracket: Align
AlignOperands: Align

AlignTrailingComments:
  Kind: Leave

SortIncludes: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterStruct: true
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: false
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  AfterFunction: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

# for the parameter table lists etc.
Cpp11BracedListStyle: false

# class with initializers
PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
SpaceBeforeCtorInitializerColon: true
BreakInheritanceList: AfterColon

ContinuationIndentWidth: 2
